.home { 
  // background-color: blueviolet;
  background: url("/adv-fofo.jpg") no-repeat center;
  background-size: cover;
  height: 35rem;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 7rem 2rem;
  width: 30rem;

  button {
    width: 10rem;
    height: 3rem;
    // background-color: aqua;
    border: 0.1rem solid gray;
    color: gray;
  }
}